*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;   
}

.header{
    background: red;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 40;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    width: 80px;
 }

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

 .nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    z-index: 1000;
}

.lista{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

ul , ol{
    list-style: none;
}

.nav > li{
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.enlace{
    color: white;
    text-decoration: none;
}

.enlace{
    padding: 8px 12px;
    border-radius: 3px;
}

.enlace:hover{
    background-color: black;
    color: red;
}

.slider{
    z-index: 30;
}
.hero{
    width: 100%;
}

.d-img{
    width:100%;
    height: 100%;
  object-fit:cover;  
}

.d-item{
    height: 600px;   
}


.main{
    margin-top: 30px;
    margin-bottom: 10px;
    background: rgb(255,222,222);
    background: radial-gradient(circle, rgba(255,222,222,1) 11%, rgba(255,0,0,1) 73%);
    border: solid 1px grey;
}

.texto{
    text-align: justify;
}
.texto h1{
    text-align: center;
}

footer{
    width: 100%;
    height: auto;
}

.footer2{
    width: 100%;
    text-align: center;
    background-color: rgb(10, 10, 10);
    height: 100px;
    color: #FFFFFF;
}



.burga{
    cursor: pointer;
    
}
.mostrar{
    left: 0;
}
.mostrarM{
    visibility: visible;
}




.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    color: azure;
}
.grid-container div{
background-color: red;
margin: 10px;
text-align: center;

}
.Hockey{
    background-image: url('../IMGH/hochey.jpg');
    color: #070505;
   background-repeat: no-repeat;
   background-size: cover;
   width: 98%;
   height: 550px;
   margin: auto;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
    
}
img.Hockey{
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
 
  .img-fluid{
    max-width: 100% !important;
    height: auto !important;
    vertical-align: middle !important;
    display: inline-block !important;
  }
  .grid-wrapper > div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .galery-hockey > div > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 5px !important;

  }
  .galery-hockey{
    display: grid !important;
    grid-gap: 10px !important;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) !important;
    grid-auto-rows: 200px !important;
    grid-auto-flow: dense !important;
  }
  .grid-hockey .wide{
    grid-column: span 2 !important;
  }
  .galery-hockey .tall{
    grid-row: span 2 !important;
  }
  .galery-hockey .big{
    grid-column: span 2;
    grid-row: span 2;
  }
  /*.row{
    display: flex;
    padding: 0px;
    flex-wrap: wrap;s
  }
  .column{
    flex: 30%;
    padding: 5px;
  }
.column img{
    margin-top: 0px;
    width: 400px;
    height: auto;
    /*margin-left: 5px;
    margin-right: 5px;
    border:2px solid red;*/
}
/*.column p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}*/
.main-hockey{
    background-color: #FFFFFF;
}

 /* div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 20px;
}*/
.contenedor {
   display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}
.contenedor img {
    width: 350px;
    height: 250px;
    margin: 0px 10px;
    object-fit: cover;
    
}
/*.contenedor p{
    font-size: 2.6rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);

}*//
.contenedor:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}
.fotos{
    width: 350px;
    height: 250px;
    margin: 0px 10px;
    object-fit: cover; 
}



@media(max-width:900px){
    .header{
        background: red;
        height: 80px;
        display: flex;
        width: 100%;
        top: 0;
        left: 0;
    }
    .nav-menu{
        display: block;
        margin-right: 40px;
        background-color: red;
        min-width: 50px;

     
        list-style: none;
    }
    .lista{
        background-color: red;
        
    }
    .nav{
        background-color: red;
    }
    .nav-menu{
        visibility: hidden;
        background-color: red;
        width: 100%;
       
    }
    li.lista{
        background-color: red;
        width: 100%;
        
        
    }
    .mostrarM{
        visibility: visible;
    }
    .img{
        width: 600px !important;
        height: auto !important;
         
    }
    footer{
        display: grid;
        grid-row: auto;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr; 
        background-color: white;
        color: azure;
    }
    .grid-container div{
    text-align: center;
    margin-bottom: 10px;
    background-color: red;
    }
    
    .grid-container1{
        display: grid;
        grid-template-columns: 1fr;
        background-color: white;
        color: azure;
        position:relative;
    }
    .grid-container1 div{
    text-align: center;
    margin-bottom: 10px;
    background-color: red;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        
        background-color: white;
        color: azure;
        
    }
    .grid-container div{
    text-align: center;
    margin-bottom: 10px;
    background-color: red; 
    }
   

}